/* STANDARD CSS */
* {
    /* POSITIONS */
    margin: 0;
    padding: 0;
    border: 0;
    flex-wrap: wrap;
}

body {
    /* FONT CONTENT */
    font-family: 'Jost', sans-serif;
    font-size: 18px;

    /* COLORS */
    background-color: var(--background);
}

main {
    margin: 20px 80px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.barber-logo {
    width: 122px;
    height: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

header a {
    color: #403B32;

}

header .nav {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.theme,
.sign-in {
    /* THEME AND SIGN-IN FONT CONTENT */
    color: #403B32;

    /* THEME AND SIGN-IN BORDER */
    border: 1px solid #403B32;
    border-radius: 10px;
    padding: 10px 40px;
}

/* THEME TRANSITION */
.theme:hover {
    cursor: pointer;
    transition: .3s;
    color: #F2D16D;
    background-color: #403B32;
}

/* SIGN-IN TRANSITION */
.sign-in:hover {
    cursor: pointer;
    transition: .3s;
    background-color: #F2D16D;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 80px;
    background-color: #403B32;
    gap: 85px;
}

footer .nav {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

footer .nav .platform .platform-links ul {
    display: flex;
    gap: 100px;
}

footer a {
    color: #FFF;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: end;
}

.platform-links,
.questions-links,
.nav .contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.platform-links span,
.questions-links span,
.nav .contact-links span {
    font-weight: bold;
}

.menu {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sign-up-text {
    font-size: 18px;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: left;
}

#email {
    outline: none;
    font-size: 18px;
    color: #FFF;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #D99C52;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 35px;
}

.confirm-email-send {
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #FFF;
    background-color: #D99C52;
    border: 1px solid #D99C52;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 35px;
}




.bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bot .copyright {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.bot ul {
    display: flex;
    gap: 35px;
}

.bot img {
    width: 22px;
    height: 22px;
}

html {
    --background: #f5f5f5;
    --dark: #403b32;
    --darkbrown: #a67233;
    --light-yallow: #ffcc8f;
  }
  html[data-theme="dark"] {
    --background: #363636;
    --dark: #ffffff;
    --darkbrown: #a67233;
    --light-yallow: #727272;
    --box-shadow: #363636;
  }

  .sumary .text1 {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 50.8572px;
    line-height: 73px;
  
    color: var(--dark);
  }
  
  .sumary {
    margin: 10px 0px;
    padding: 10px;
    background-color: var(--light-yallow);
  }
  .sumary .text2 {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    display: inline-block;
    color: var(--dark);
  }
  
  .sumary .text3 {
    font-family: "Jost";
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
  
    color: var(--dark);
    text-align: right;
  }
  
  .cardDemo {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .cardDemo .card {
    display: flex;
    flex-direction: column;
  }
  .cardDemo .card img {
    width: 300px;
    height: 400px;
  }
  .cardDemo .card p {
    width: 293px;
    height: 94px;
    text-align: center;
    margin: auto;
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    border-radius: 30px;
    box-shadow: 1px 3px 3px var(--box-shadow);
  
    color: var(--dark);
  }